<%if flash[:error]%>
<p><%=flash[:error]%></p>
<%end%>

<%= form_for  @user do |f| %>
   <!-- <%= f.label :email %> <br> -->
    <%= f.text_field :username %> <br>
    <%= f.text_field :password %> <br>
    <%= f.text_field :password_confirmation %> <br>

    <%= f.submit %> 
    <% end %>
    
