<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor=lightblue>
    <table width="auto" height="170px" style="width:100%;text-align:center;background-color:lightyellow;">
  <tr>
      <td colspan="5"></td>
    </tr>

    <tr>
      <td colspan="2"></td>
      <td colspan="2" style="font-size: 4em; font-weight: bold; position: center; top: 25px;">
        <a href="/">Picture Stuff</a></td>
    </tr>
  
  <tr>
  <%if logged_in?%>
    <%=link_to 'Logout', logout_path, method: 'post'%> <br>
    <%=link_to 'Upload', new_picture_path%> <br>
    
  <%else%>
    <%=link_to 'Login', login_path%> <br>
    <%=link_to 'Sign Up', signup_path%>
  <%end%>
  <tr>
  </table>
  <%= yield %>
</body>
</html>
